{% extends "base.html" %} {% block title%} Blog Page {%endblock%} {% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog Page| Auto Mobile Service</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />
        <link rel="stylesheet" href="../static/css/test.css" />
    </head>
    <body>
        <!-- END nav -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="background-image: url(../static/images/home.jpg); width: 100%; height: 100%;">
                    <h1 style="padding-top: 100px; padding-bottom: 100px;">BLOG</h1>
                </div>
            </div>
            <div class="row">
                <hr class="horizonal" style="border-color: red; width: 100%;" />

                <div class="col-md-4" style="border-right: 1px solid black;">
                    <img src="../static/images/blog1.jpg" style="width: 100%; height: 100%;" />
                </div>
                <div class="col-md-5" style="border-right: 1px solid black;">
                    <p style="text-align: justify;">
                        3 Easy Ways to Keep an Eye Out for Motorcycles One of the best and easiest ways to stay safe while out on the road is to always be aware of your surroundings. Sometimes, that’s very easy to do, as it’s not hard to
                        see a semi or a large SUV behind you or alongside you in another lane. But other smaller cars, and especially motorcycles, can be a lot harder to see. And when you can’t see the things you need to avoid, well, that’s
                        when accidents occur. That’s precisely why we’ve decided to list these three easy ways to keep an eye out for motorcycles and other small vehicles. So, check them out and have a safe trip wherever you go.
                    </p>
                </div>
                <div class="col-md-3">
                    {% if session['Uemail'] %}
                    <button type="button" class="actionbtn"><a href="/appointment">appointment</a></button>
                    {%else%}
                    <div class="service-box-data">
                        <button onclick="document.getElementById('id01').style.display='block'" style="width: auto;">Appointment</button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <hr class="horizonal" style="border-color: red; width: 100%;" />
            <!-- 2 -->
            <div class="row">
                <div class="col-md-3">
                    {% if session['Uemail'] %}
                    <button type="button" class="actionbtn"><a href="/appointment">appointment</a></button>
                    {%else%}
                    <div class="service-box-data">
                        <button onclick="document.getElementById('id01').style.display='block'" style="width: auto;">Appointment</button>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-5" style="border-left: 1px solid black;">
                    <p style="text-align: justify;">
                        The holiday season is upon us, which means many people will soon be bringing Christmas trees home to decorate. It’s a wonderful tradition, one that’s very dear to our hearts here at Auto Simple in Chattanooga, TN.
                        But anyone who’s ever had to tie a tree to the top of their vehicle – even a vehicle as powerful and capable as the pre-owned cars, trucks, and SUVs here at Auto Simple – knows it’s not always the easiest thing.
                        That’s why we decided to shard this video with you, as it contains step-by-step tips on how to safely transport your Christmas tree
                    </p>
                </div>

                <div class="col-md-4" style="border-left: 1px solid black;">
                    <img src="../static/images/blog2.jpg" style="width: 100%; height: 100%;" />
                </div>
            </div>
            <hr class="horizonal" style="border-color: red; width: 100%;" />
            <!-- 3 -->
            <div class="row">
                <div class="col-md-4" style="border-right: 1px solid black;">
                    <img src="../static/images/blog4.jpg" style="width: 100%; height: 100%;" />
                </div>
                <div class="col-md-5" style="border-right: 1px solid black;">
                    <p style="text-align: justify;">
                        The SUV is a great type of vehicle for anyone looking to transport lots of people or cargo. However, which SUV is best for the job? With so many SUVs in the market, it can be hard to pick. Some offer more seating
                        while others offer more cargo capacity. Here, we will list some SUVs with the highest maximum cargo capacity available to drivers. Note that for comparison purposes, we limited these vehicles to only 2019 models.
                    </p>
                </div>
                <div class="col-md-3">
                    {% if session['Uemail'] %}
                    <button type="button" class="actionbtn"><a href="/appointment">appointment</a></button>
                    {%else%}
                    <div class="service-box-data">
                        <button onclick="document.getElementById('id01').style.display='block'" style="width: auto;">Appointment</button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <hr class="horizonal" style="border-color: red;" />
            <!-- 4 -->
            <div class="row">
                <div class="col-md-5" style="border-right: 1px solid black;">
                    <p style="text-align: justify;">
                        Car decals are stickers placed usually on the rear bumper or glass to show some sort of message to drivers around them. These stickers can show support to a political candidate, demonstrate school spirit for a
                        college they attended, or even just display which type of dog they have as a pet. However, you may be regretting putting the decal on or are buying a used car covered in these stickers. How do you remove these
                        stickers without damaging the paint? The process is a little complex, but very doable.
                    </p>
                </div>
                <div class="col-md-3">
                    {% if session['Uemail'] %}
                    <button type="button" class="actionbtn"><a href="/appointment">appointment</a></button>
                    {%else%}
                    <div class="service-box-data">
                        <button onclick="document.getElementById('id01').style.display='block'" style="width: auto;">Appointment</button>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-4" style="border-left: 1px solid black;">
                    <img src="../static/images/blog3.jpg" style="width: 100%; height: 100%;" />
                </div>
            </div>
        </div>
        <!-- alert form  -->
        <div class="container">
            <div id="id01" class="alertform">
                <form class="alertform-content" action="" method="post">
                    <div class="container">
                        <p>if you want to appointment, you need to login with register account</p>

                        <p>you need to register when you haven't regsiter account</p>
                    </div>

                    <div class="container" style="background-color: gray;">
                        <div class="row">
                            <dir class="col-md-6">
                                <button type="button" class="actionbtn"><a href="/login">login</a></button>
                            </dir>
                            <dir class="col-md-6">
                                <button type="button" class="actionbtn"><a href="/register">Register</a></button>
                            </dir>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Start of footer -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

        <script src="../static/js/test.js"></script>
    </body>
</html>
{% endblock %}
