{% extends "base.html" %}
{% block title%} Project Page {%endblock%}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Project Page| Auto Mobile Service</title>


</head>
<body>

<!-- END nav -->
<div class="container-fluid text-center" style="background-image: url(../static/images/a.jpg);width: 100%;height: 100%;">
  <div class="row">
    <div class="col-md-12" style="padding-top: 150px;padding-bottom: 150px;">
      <h1>PROJECT</h1>
      <p style="color: blue;font-size: 17px;">Home/<i>Project</i></p>
    </div>
  </div>
</div>
<hr class="horizonal" style="border-color: red;width: 100%;">
<div class="container">
    <div class="row">
    <div class="col-md-12">
      <p style="font-size: 30px;color: blue;">Brief Description</p>
      <p style="text-align: justify;">Tremendous opportunities are available at our reputable independent, family owned and operated auto body shop. We are looking for remark able teammates to fulfill our growing staffing needs. 100% customer satisfaction and quality repairs has always been a staple in our business model and we are expanding to help serve our loyal and growing customer base. We are looking for experienced, motivated employees that are willing to work in a team-oriented repair process/model.We offer a full range of garage services to vehicle owners in Tucson. We can help you with everything from an oil change to an engine change Whether you drive a small car or medium sized truck or SUV, our mechanics strive to ensure that your vehicle will be performing at its best before leaving our car shop
     </p>
    </div>
  </div>
  <hr class="horizonal" style="border-color: red;width: 100%;">
  <div class="row">
    <div class="col-md-5"><img src="../static/images/image-1.jpg" style="width: 100%;height: 100%"></div>
    <div class="col-md-7">
      <h2 style="padding-bottom: 5px;">Scope of work</h2><br>
      <p>We offer full range of garage services to vehicle owners in Tucson Our professionals know how to handle a wide range of car services We can handle any problem on both foreign.</p>
      <ul style="list-style-type:square;line-height: 40px;">
        <li >We make auto repair and maintenance more convenient for you</li>
        <li>We are a friendly, helpful and professional group of people</li>
        <li>Our professionals know how to handle a wide range of car services</li>
        <li>We get the job done right — the first time</li>
        <li>Same day service for most repairs and maintenance</li>
      </ul>
    </div>
  </div>
  <hr class="horizonal" style="border-color: red;width: 100%;">
  <div class="row text-center" style="margin-top: 20px;margin-bottom: 20px;">
      <div class="col-md-12"><h3 style="color: gold;">Done Project</h3></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"><img src="../static/images/work-1.jpg" style="width: 100%;height: 100%"></div>
      </div>
       <p>Tire Change Completed</p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"><img src="../static/images/image_02.jpg" style="width: 100%;height: 100%"></div>
      </div>
      <p>Oil Change Completed</p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"><img src="../static/images/image_04.jpg" style="width: 100%;height: 100%"></div>
      </div>
      <p>Auto Air Conditioning</p>
    </div>
  </div>
  <!--  -->
    <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"><img src="../static/images/image_01.jpg" style="width: 100%;height: 100%"></div>
      </div>
       <p>Auto Engine Repair</p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"><img src="../static/images/image_05.jpg" style="width: 100%;height: 100%"></div>
      </div>
      <p>Break Repair</p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12"><img src="../static/images/work-8.jpg" style="width: 100%;height: 100%"></div>
      </div>
      <p>Car Wash and clean</p>
    </div>
  </div>
</div>
<!-- Start of footer -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

</body>
</html>
{% endblock %}